@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding-top: 40px;

  .container {
    display: grid;
    grid-template-columns: 244px 1fr 144px;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    @media screen and(max-width: 751px) {
      grid-template-columns: 244px 1fr;
      justify-items: left;
    }

    @media screen and(max-width: 487px) {
      grid-template-columns: 244px;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 30px;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
